@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

:root { --main-color: #334422; }

body {
  font-family: 'Jacques Francois', serif;
  color: var(--main-color);
}

.primary-blue { background-color: #222933}
.moss-green { color: var(--main-color); }
.moss-green-bg { background-color: var(--main-color); }

.moss-green-btn {
  background-color: #334422;
  color: white;
}

.white-font {
  color: white;
}
.br {
  border-color: red;
  border-width: thick;
}

.sm-icon {
  height: 32px;
  width: 32px;
}

.sm-text {
  text-size: 0,5rem;
  text-weight: light;
}

.responsive-width {
  width: 100%; /* Default for extra small screens */
}

@media (min-width: 576px) {
  .responsive-width {
    width: 25%; /* Width for small screens and above */
  }
}